<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(productsInCart.length > 0) { %>
            <% productsInCart.forEach( productData => { %>
                <ul>
                    <li>
                        <p><%= productData.title %> (<%= productData.quantity%>)</p>
                        <form action="/delete-cart-product" method="POST">
                            <input type="hidden" name="id" value="<%= productData.id %>">
                            <button class="btn" type="submit">Delete</button>
                        </form>
                    </li>
                </ul>
            <% }) %>
            <h2>Total Price: $<%= totalPrice %></h2>
        <% } else { %> 
            <h2>No Product in Cart!</h2>
        <% } %>
    </main> 
    
<%- include('../includes/end.ejs') %>