<section class="pagination">
    <% if(hasPreviousPage && previousPage !== 1) { %>
        <a href="?page=1">1</a><% if (previousPage !== 2) { %>...<% } %>
    <% } %>
    <% if(hasPreviousPage) { %>
        <a href="?page=<%= previousPage %>"><%= previousPage %></a>
    <% } %>
    <a href="?page=<%= currentPage %>" class="active"><%= currentPage %></a>
    <% if(hasNextPage) { %>
        <a href="?page=<%= nextPage %>"><%= nextPage %></a>
    <% } %>
    <% if(currentPage !== lastPage && nextPage !== lastPage) { %>
        <% if (nextPage !== lastPage - 1) { %>...<% } %><a href="?page=<%= lastPage %>"><%= lastPage %></a>
    <% } %>
</section>