<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title #{title}
        link(rel="stylesheet", href="/css/main.css")
        //- veza sa ostalim .pug fajlovima gde se preko naziva(styles) tacno tu moze dodati odredjeni kod
        block styles
    body
        header.main-header
                nav.main-header__nav
                    ul.main-header__item-list
                        li.main-header__item
                            a(href="/", class=(path === '/' ? 'active' : '')) Shop
                        li.main-header__item
                            a(href="/admin/add-product", class=(path === '/admin/add-product' ? 'active' : '')) Add Product
        block content