<% if (isAuthenticated) { %>
    <!-- 
        enctype="application/x-www-form-urlencoded" je default-na vrednost atributa na formi, a
        znaci da od forme ocekujemo samo text, plain text, ne i fajlove!
    -->
    <form action="/cart" method="POST" enctype="application/x-www-form-urlencoded">
        <button class="btn" type="submit">Add to Cart</button>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="id" value="<%= product._id %>">
    </form>
<% } %>