<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (products.length > 0) { %>
            <div class="grid">
                <% for(let product of products) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price">$<%= product.price%></h2>
                            <p class="product__description"><%= product.description %></p>
                        </div>
                        <div class="card__actions">
                            <a class="btn" href="/admin/edit-product/<%= product._id %>?edit=true">Edit</a>
                            <!-- 
                                enctype="application/x-www-form-urlencoded" je default-na vrednost atributa na formi, a
                                znaci da od forme ocekujemo samo text, plain text, ne i fajlove!
                            -->
                            <!-- <form action="/admin/delete-product" method="POST" enctype="application/x-www-form-urlencoded"> -->
                            <input type="hidden" name="id" value="<%= product._id %>">
                            <input type="hidden" name="price" value="<%= product.price %>">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn" type="submit" onclick="deleteProduct(this)">Delete</button>
                            <!-- </form> -->
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>

<%- include('../includes/end.ejs') %>
<script src="/js/admin.js"></script>