<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/cart.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (productsInCart.length > 0) { %>
                <ul class="cart__item-list">
                    <% productsInCart.forEach(p => { %>
                        <li class="cart__item">
                            <h1><%= p.productId.title %></h1>
                            <h2>Quantity: <%= p.quantity %></h2>
                            <!-- 
                                enctype="application/x-www-form-urlencoded" je default-na vrednost atributa na formi, a
                                znaci da od forme ocekujemo samo text, plain text, ne i fajlove!
                            -->
                            <form action="/delete-cart-product" method="POST" enctype="application/x-www-form-urlencoded">
                                <input type="hidden" value="<%= p._id %>" name="id">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button class="btn danger" type="submit">Delete</button>
                            </form>
                        </li>
                    <% }) %>
                </ul>
                <hr>
                <div class="centered">
                    <!-- <form action="/create-order" method="POST" enctype="application/x-www-form-urlencoded">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn" type="submit">Order Now!</button>
                    </form> -->
                    <a class="btn" href="/checkout">Order Now!</a>
                </div>
            <% } else { %>
                <h1>No Products in Cart!</h1>
            <% } %>
        </main>
        <%- include('../includes/end.ejs') %>