<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <ul class="cart__item-list">
            <% productsInCart.forEach(p => { %>
                <li class="cart__item">
                    <h1><%= p.productId.title %></h1>
                    <h2>Quantity: <%= p.quantity %></h2>
                </li>
            <% }) %>
        </ul>
        <div class="centered">
            <h2>Total: $<%= total %></h2>
        </div>
        <div class="centered">
            <form action="/create-order" method="POST">
                <script
                  src="https://checkout.stripe.com/checkout.js"
                  class="stripe-button"
                  data-key="pk_test_Px3MbVOj8taTQcWiEZLgeSl900dbRzQ6GH"
                  data-name="Your Order"
                  data-description="All the items you ordered."
                  data-amount="<%= total * 100 %>"
                  data-currency="usd">
                </script>
              </form>
        </div>
    </main> 
    
<%- include('../includes/end.ejs') %>