<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if(errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <!-- 
            enctype="application/x-www-form-urlencoded" je default-na vrednost atributa na formi, a
            znaci da od forme ocekujemo samo text, plain text, ne i fajlove!
            Ukoliko zelimo to da promenimo, da kazemo da od forme ocekujemo i fajlove onda:
            enctype="multipart/form-data" dodati na element forme
        -->
        <form 
            class="product-form" 
            action="/admin/<% if (!editMode) { %>add-product<% } else { %>edit-product<% } %>" 
            method="POST" 
            novalidate 
            enctype="multipart/form-data">
                <div class="form-control">
                    <label for="title">Title</label>
                    <input 
                        class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : '' %>"
                        type="text" 
                        name="title" 
                        id="title" 
                        value="<% if(editMode || hasError) { %><%= product.title %><% } %>">
                </div>
                <!-- <div class="form-control">
                    <label for="imageUrl">Image URL</label>
                    <input 
                        class="<%= validationErrors.find(e => e.param === 'imageUrl') ? 'invalid' : '' %>"
                        type="text" 
                        name="imageUrl" 
                        id="imageUrl" 
                        value="<% if(editMode || hasError) { %><%= product.imageUrl %><% } %>">
                </div> -->
                <div class="form-control">
                    <label for="image">Image</label>
                    <input 
                        type="file" 
                        name="image" 
                        id="image">
                </div>
                <div class="form-control">
                    <label for="price">Price</label>
                    <input 
                        class="<%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>"
                        type="number" 
                        name="price" 
                        id="price" 
                        step="0.01" 
                        value="<% if(editMode || hasError) { %><%= product.price %><% } %>">
                </div>
                <div class="form-control">
                    <label for="description">Description</label>
                    <textarea 
                        class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>"
                        name="description" 
                        id="description" 
                        rows="5"><% if(editMode || hasError) { %><%= product.description %><% } %></textarea>
                </div>
                <% if(editMode) { %>
                    <input type="hidden" name="id" value="<%= product._id%>">
                <% } %>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn" type="submit"><% if (!editMode) { %>Add Product<% } else { %>Edit Product<% } %></button>
        </form>
    </main>
    
<%- include('../includes/end.ejs') %>