extends layouts/main-layout.pug

//- veza sa layouts/main-layout.pug fajlom gde se preko naziva(styles) dodaje zeljeni kod
block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")

//- veza sa layouts/main-layout.pug fajlom gde se preko naziva(content) dodaje zeljeni kod
block content
    main
        form.product-form(action="/admin/add-product" method="POST")
            .form-control
                label(for="title") Title
                input(type="text", name="title")#title
            button.btn(type="submit") Add Product