extends layouts/main-layout.pug

//- veza sa layouts/main-layout.pug fajlom gde se preko naziva(content) dodaje zeljeni kod
block content
    main
        if products.length > 0
            //- ako je samo tacka pa onda idu klase radi se o div tagu
            .grid
                each product in products
                    //- ako ima vise klasa spajaju se tackama
                    article.card.product-item
                        header.card__header
                            h1.product__title #{product.title}
                        .card__image
                            img(src="https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png" alt="A Book")
                        .card__content
                            h2.product__price $19.99.
                            p.product__description A very interesting book about so many even more interesting things!
                        .card__actions
                            button.btn Add to Cart
        else
            h1 No products
        