<%- include('includes/head.ejs') %>
<body>
    <div class="container mt-5">
        <form action="/add-username" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control" type="text" name="username">
            </div>
            <button class="btn btn-primary" type="submit">Dodaj</button>
        </form>
    </div>

<%- include('includes/end.ejs') %>