<%- include('includes/head.ejs') %>
<body>
    <div class="container mt-5">
        <div class="offset-sm-3 col-sm-6">
            <% if(usernames.length > 0) { %>
                <h3>Usernames: </h3>
                <ul class="list-group">
                    <% usernames.forEach((username) => { %>
                        <li class="list-group-item"><%= username %></li>
                    <% }) %>
                </ul>
            <% } else { %>
                <h3>No usernames!</h3>
            <% } %>
        </div>
    </div>

<%- include('includes/end.ejs') %>