<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <form class="product-form" action="/admin/<% if (!editMode) { %>add-product<% } else { %>edit-product<% } %>" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" value="<% if(editMode) { %><%= product.title %><% } %>">
            </div>
            <div class="form-control">
                <label for="imageUrl">Image URL</label>
                <input type="text" name="imageUrl" id="imageUrl" value="<% if(editMode) { %><%= product.imageUrl %><% } %>">
            </div>
            <div class="form-control">
                <label for="price">Price</label>
                <input type="number" name="price" id="price" step="0.01" value="<% if(editMode) { %><%= product.price %><% } %>">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5"><% if(editMode) { %><%= product.description %><% } %></textarea>
            </div>
            <% if(editMode) { %>
                <input type="hidden" name="id" value="<%= product.id%>">
            <% } %>
            <button class="btn" type="submit"><% if (!editMode) { %>Add Product<% } else { %>Edit Product<% } %></button>
        </form>
    </main>
    
<%- include('../includes/end.ejs') %>