<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <!-- 
            atribut novalidate na formi znaci da browser ne treba da validira vrednosti polja, jer to radi po default-u
            
            enctype="application/x-www-form-urlencoded" je default-na vrednost atributa na formi, a
            znaci da od forme ocekujemo samo text, plain text, ne i fajlove!
        -->
        <form class="login-form" action="/login" method="POST" novalidate enctype="application/x-www-form-urlencoded">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'email') ? 'invalid' : '' %>"
                    type="email" 
                    name="email"
                    id="email" 
                    value="<%= oldInput.email %>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                    type="password" 
                    name="password" 
                    id="password" 
                    value="<%= oldInput.password %>">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="btn">Login</button>
            <div class="centered">
                <a href="/reset-password">Reset Password</a>
            </div>
        </form>
    </main>
    
<%- include('../includes/end.ejs') %>