<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <!-- 
            enctype="application/x-www-form-urlencoded" je default-na vrednost atributa na formi, a
            znaci da od forme ocekujemo samo text, plain text, ne i fajlove!
        -->
        <form class="login-form" action="/reset-password" method="POST" enctype="application/x-www-form-urlencoded">
            <div class="form-control">
                <label for="email">E-Mail</label>
                <input type="email" name="email" id="email">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button type="submit" class="btn">Reset Password</button>
        </form>
    </main>
    
<%- include('../includes/end.ejs') %>